body {
    margin: 0;
    color: #282828;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #282828;
    color: whitesmoke;
}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 25px;
    align-items:center;
    gap: 10px;
}

li {
    cursor: pointer;
}

.logo{
    font-size: 18px;
    font-weight: 700;
}

.icon{
    width: 25px;
}

.align-right {
    margin-left: auto;
}

h1{
    font-size: 40px;
    font-weight: 400;
    margin: 30px 25px;
}

.item-img {
    width: 100%;
    display: block;
}

.caption {
    margin: 10px 25px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.item { 
    position: relative;
} 

.img-banner {
    background-color: #cd6858;
    color: whitesmoke;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

button {
    background-color: #cd6858;
    border: none;
    padding: 10px 15px;
    font-weight: 700;
    color: whitesmoke;
    cursor: pointer;
    align-self: center;
}

.chatbox-bg{
    position: fixed;
    bottom: 6px;
    right: 6px;
    background-color: #cd6858;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
}

.chatbox-img {
    width: 52%;
    margin: auto;
}








